
   .menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: 8px;
    font-family: sans-serif;
    color: #ffffff;
    padding: 15px;
    
}
body{
    margin: 0px;
    background-color:#f7f2f2;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-evenly;
    margin: 40px;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 550px;
    padding: 50px;
    background-color: #ffffff;
    padding: 30px;
    font-style: oblique;
}
.bodyimg{
    display: flex;
    justify-content: space-evenly;
    color: #f7f2f2;
}

.steps {
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,50%);
   
}
.gif{
    position:absolute;
    top:15%
}
.gif{
    margin-left: 20px;
}
.gif1{
    position: absolute;
    top:15%;
}
.gif1{
    margin-left: 1100px;
    margin-top: 10px;
}